* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titolo {
    color: cornflowerblue;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

img {
    width: 20%;
}