* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titolo {
    color: cornflowerblue;
    font-size: 3rem;
}